extends layout

block content
	h1= title
	.login-form
		form(action="http://localhost:3000/register", method="post")
			input(type='text', name='username', placeholder='Name', required)
			input(type='email', name='email', placeholder='Email', required)
			input(type='password', name='password', placeholder='Password', required)
			label(for='remember') Remember me
			input(type='checkbox' name='remember', id='remember') 
			input(type='submit', value='Register')
	if error
		p(style="color:red") Email is already in use.

	a(href="http://localhost:3000/login") Have an account? Login Here